# Quantitative Methods, ENSP 202, Spring 2014

|           |                                       |
|-----------|---------------------------------------|
|Days       | Monday and Wednesday                  |
|Time       | 10:45 am - 12:00 pm                   |
|Units      | 3                                     |
|Location   | Rachel Carson Hall 14                 |
|Instructor | Daniel Soto                           |
|Office     | Rachel Carson Hall 12                 |
|Email      | sotod@sonoma.edu                      |


## Course Description
Lectures and workshop designed to enhance students' confidence in
analytical problem solving. Essential techniques emphasizing
environmental applications: translating knowledge into abstract and
mathematical models, numerical estimates, basic geometry and
trigonometry, dimensional analysis, unit conversions, interpreting
statistical data, and graphic display of information. Conceptual
introduction to calculus, differential equations, and complex numbers.
Prerequisites: ENSP majors or minors; completion or concurrent
enrollment in GE Area B4 (Math Concepts). Cr/NC only.


## Learning Objectives

- Increase confidence in the use of mathematics
- Development of model thinking and quantitative estimation skills
- Development of quantitative critical thinking skills
- Development of quantitative communication skills


## Course Requirements

This course will have both in-class exercises and homework to reinforce
concepts learned in class.  Readings will be assigned and quizzes will
be given on these readings.  Students should be prepared to discuss any
assigned reading in class.  Students will complete a final project that
uses mathematics and estimation skills to estimate the answer a current
question of importance in the media, politics, or environment.


## Grading

This class is graded on a credit/no credit basis.  Any student who makes
an observable effort to complete every question of every assignment will
receive credit.

- Classwork and quizzes 25%
- Homework 25%
- Project 25%
- Final 25%


## Classwork

We will frequently perform group work in class to gain practice on the
concepts presented in the lecture and readings.  This work will be
turned in at the end of class.  If you miss class due to an unexcused
absence, you will receive a zero on that day's classwork grade.


## Homework

Homework will be assigned to practice the math concepts and techniques
you will learn in class.  You will be graded both on the mathematical
validity of your work as well as your ability to communicate your
methods.  This means that in addition to the mathematics, you should be
providing brief explanations of your techniques and your thought
process.  Calculations without supporting arguments will not receive
full credit.

Homework will be graded on a coarse grading schedule of a 1, 2, or 3.  A
3 is given for strong work that meets or exceeds the requirements, a 2
for adequate work, and a 1 for work that doesn't meet expectations.
After grading, you may submit a self-evaluation that considers how your
approach differs from the accepted approach.  Self-evaluations that
demonstrate an improvement in your understanding will raise your
homework grade through partial credit.

{{homework_schedule}}

## Agreements

- Respectful tone in classroom

Civility is required from all students during discussions and
interactions.  In general, I expect students to be supportive of each
others learning goals.

- Minimize electronic distractions

Internet-connected electronic devices (phones, tablets) may be used in
class for learning purposes.  Using devices for social networks or other
uses during class time is strongly discouraged.


## Lecture Schedule

The tentative schedule of lecture topics for the class is below.  This
schedule is likely to change.

{{course_schedule}}

The final exam will be held on Monday, May 5th, from 11 am - 12:50 pm.

## Readings

There are two required texts for this course:

- *The Joy of x: A Guided Tour of Math, from One to Infinity*, Steven Strogatz.
- *Guesstimation*, Lawrence Weinstein and John A. Adam

There will also be readings posted to Moodle throughout the
semester.  Graded reflection assignments will be assigned for posted
readings and will be included in your homework grading average.

Here is the tentative reading schedule

{{reading_schedule}}

## Project Schedule

This is the tentative schedule for the project deadlines.

{{project_schedule}}

## Office Hours

My office hours are held Tuesday and Wednesday in my office in Rachel
Carson Hall 12 from 2pm until 3pm.  Signup is online and can be accessed
through my website [http://danielrsoto.com](http://danielrsoto.com)


## University Policies

There are important University policies that you should be aware of,
such as the add/drop policy; cheating and plagiarism policy, grade
appeal procedures; accommodations for students with disabilities and the
diversity vision statement.  Go to this URL to find them.
[http://www.sonoma.edu/uaffairs/policies/studentinfo.shtml](http://www.sonoma.edu/uaffairs/policies/studentinfo.shtml)

